/*body {
	background: url('../images/apple.png');
	line-height: 1.8;
}
*/
#wrapper {
	width: 800px;
	padding: 40px;
	background-color: white;
	margin: 0 auto;
}

h1 {
	font-family: Arial, sans-serif;
	color: #333333;
	font-size: 40px;
/*	text-align: center*/
}


/*"Sue Ellen Francisco", */

ul {
	font-family: Arial, sans-serif;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 30px;
}

ul li {
	border-bottom: 2px dotted orange;
	cursor: pointer;
}


/* darker font-color on hover */
ul li:hover {
    color: #dde;
}


input {
	width: 400px;
	font-family: arial;
	font-size: 20px;
	margin: 30px 0;
	border: 3px solid orange;
	box-shadow: none;
	padding: 11px;
}

button {
	width: 200px;
	font-family: arial;
	font-size: 15px;
	margin: 30px 0;
	box-shadow: none;
	padding:13px;
	color: white;
	background: grey;
	cursor: pointer;
}

button:hover {
    background-color: #A9A9A9;
}
